table {
  border: 3px solid var(--second-color);
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

th:nth-child(1) {
  width: 20%;
}

th:nth-child(2) {
  width: 40%;
}

th:nth-child(3) {
  width: 20%;
}

th:nth-child(4) {
  width: 20%;
}

th:nth-child(5) {
  width: 10%;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  font-size: 1.15em;
  color: var(--second-color);
}

td {
  border-bottom: 1em solid white;
  background: var(--second-color);
  color: white;
  font-size: 18px;
  height: 4em;
}

.td-text {
  font-size: 18px;
}
