* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --background-color: #75aaff;
  --first-color: #ffffff;
  --second-color: #2649f9;
  --forth-color: #9615db;
  --button-input-size: 18px;
}

body {
  background: var(--background-color);
}

.container {
  background: var(--first-color);
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid black;
  min-height: 100vh;
}

.navbar {
  display: flex;
  height: 70px;
  background: var(--second-color);
  align-items: center;
  justify-content: space-around;
}

.navbar > div {
  color: var(--first-color);
  font-size: 26px;
  font-weight: bolder;
}

.btn-input-padding {
  padding: 4px 10px;
}

.btn {
  font-size: var(--button-input-size);
  color: var(--second-color);
  margin: 0px 5px;
}

.btn-history {
  margin-left: 70px;
}

.form {
  margin: 5px 20px;
  display: flex;
  align-items: center;
  font-size: var(--button-input-size);
  justify-content: center;
  background: var(--second-color);
}

.todo-input {
  margin: 0px 10px;
  font-size: var(--button-input-size);
  width: 20vw;
  color: var(--second-color);
  text-transform: capitalize;
}

.todo-h1 {
  color: var(--second-color);
  margin: 20px;
}

.todo-list {
  border: 2px solid black;
  list-style: none;
  height: 50vh;
  width: 700px;
  margin: 10px auto;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.flex {
  display: flex;
  justify-content: center;
}

.completed {
  width: 100px;
}
.task {
  width: 300px;
}
.date {
  width: 100px;
}
.time {
  width: 80px;
}

.todo-headings {
  display: flex;
  margin: 0px 10px;
  justify-content: center;
}

.todo-li {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: var(--button-input-size);
  border: 2px solid red;
  margin: 10px;
}

.li-label {
  display: flex;
}
